.centered {
    text-align: center;
}

#editor {
    position: relative;
    border: 1px solid black;
    height: 300px;
    width: 80%;
}

#selected-problems {
    text-align: left;
}

#selected-problems li {
    margin: 1em;
}

.li-btn {
    margin-left: 1em;
}

.no-display {
    display: none;
}

.success {
    color: green;
}

#results {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 1em;
}

.results-user {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
}

.results-user-name {
    font-size: 150%;
    font-weight: bold;
}

.results-problem {
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid black;
}