{% extends "layout.html" %}

{% block title %}
    Create a Room
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>Create a Room</h1>
        <p>Rooms contain a set of problems to test users' abilities.</p>
    </div>
    <div class="row">
        <div class="col-lg centered">
            <button onclick="postProblems();" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg centered">
            <!-- list of selected problems -->
            <ol id="selected-problems" class="problems-list">
            </ol>
        </div>
        <div class="col-lg centered">
            <div>
                <h3>My Problems</h3>
                <ul id="user-problems" class="problems-list">
                    {% for problem in user_problems %}
                    <li id="problem-{{problem.id}}" onclick="chooseProblem({{problem.id}});">{{ problem.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Global Problems</h3>
                <ul id="global-problems" class="problems-list">
                    {% for problem in global_problems %}
                    <li id="problem-{{problem.id}}" onclick="chooseProblem({{problem.id}});">{{ problem.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        const listOfProblems = [];

        function moveProblemUp(problemId) {
            const index = listOfProblems.indexOf(problemId);
            if(index === 0) { return; }
            arrayMove(listOfProblems, index, index - 1);

            // move the dom element up
            const el = document.getElementById(`selected-problem-${problemId}`);
            el.parentElement.insertBefore(el, el.previousElementSibling);
        }

        function moveProblemDown(problemId) {
            const index = listOfProblems.indexOf(problemId);
            if (index === listOfProblems.length - 1) { return; }
            arrayMove(listOfProblems, index, index + 1);

            // move the dom element down
            const el = document.getElementById(`selected-problem-${problemId}`);
            el.parentElement.insertBefore(el.nextElementSibling, el);
        }

        function arrayMove(arr, fromIndex, toIndex) {
            const element = arr[fromIndex];
            arr.splice(fromIndex, 1);
            arr.splice(toIndex, 0, element);
        }

        function chooseProblem(problemId) {
            const problemElement = document.getElementById(`problem-${problemId}`);
            if (problemElement.classList.contains('selected-problem')) {
                return;
            }
            problemElement.classList.add('selected-problem');

            const selectedProblemElement = document.createElement("li");
            selectedProblemElement.id = `selected-problem-${problemId}`;
            selectedProblemElement.classList.add('selected-problem');
            selectedProblemElement.innerText = problemElement.innerText;

            const buttonContainer = document.createElement("div");
            buttonContainer.classList.add('button-container');

            const unchooseButton = document.createElement("button");
            unchooseButton.addEventListener("click", function() { unchooseProblem(problemId); });
            unchooseButton.classList = 'btn btn-danger li-btn';
            unchooseButton.innerText = "X";

            const moveProblemUpButton = document.createElement("button");
            moveProblemUpButton.addEventListener("click", function() { moveProblemUp(problemId); });
            moveProblemUpButton.classList = 'btn btn-primary li-btn';
            moveProblemUpButton.innerHTML = "&#x25B2;";

            const moveProblemDownButton = document.createElement("button");
            moveProblemDownButton.addEventListener("click", function() { moveProblemDown(problemId); });
            moveProblemDownButton.classList = 'btn btn-primary li-btn';
            moveProblemDownButton.innerHTML = "&#x25BC;";

            buttonContainer.appendChild(unchooseButton);
            buttonContainer.appendChild(moveProblemUpButton);
            buttonContainer.appendChild(moveProblemDownButton);

            selectedProblemElement.appendChild(buttonContainer);

            document.getElementById("selected-problems").appendChild(selectedProblemElement);

            listOfProblems.push(problemId);
        }

        function unchooseProblem(problemId) {
            const problemElement = document.getElementById(`problem-${problemId}`);
            problemElement.classList.remove('selected-problem');

            const selectedProblemElement = document.getElementById(`selected-problem-${problemId}`);
            selectedProblemElement.remove();

            listOfProblems.splice(listOfProblems.indexOf(problemId), 1);
        }

        function postProblems() {
            const req = new XMLHttpRequest();
            const data = new FormData();

            data.append('problems', listOfProblems);

            req.open('POST', '/rooms', true);
            req.withCredentials = true;
            req.responseType = 'text';
            req.onload = function() {
                // @ROBUSTNESS this is a really dumb check
                if(this.responseText.length == 6) {
                    window.location = `/room/${this.responseText}/admin`;
                } else {
                    // handle errors
                }
            }
            req.send(data);
        }

    </script>
{% endblock %}