{% extends "layout.html" %}

{% block title %}
    Create a Room
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>Create a Room</h1>
        <p>Rooms contain a set of problems to test users' abilities.</p>
    </div>
    <div class="row">
        <div class="col-lg centered">
            <button onclick="postProblems();" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg centered">
            <!-- list of selected problems -->
            <ul id="selected-problems" class="problems-list">
            </ul>
        </div>
        <div class="col-lg centered">
            <div>
                <h3>My Problems</h3>
                <ul id="user-problems" class="problems-list">
                    {% for problem in user_problems %}
                    <li id="problem-{{problem.id}}" onclick="chooseProblem({{problem.id}});">{{ problem.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Global Problems</h3>
                <ul id="global-problems" class="problems-list">
                    {% for problem in global_problems %}
                    <li id="problem-{{problem.id}}" onclick="chooseProblem({{problem.id}});">{{ problem.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        const listOfProblems = [];

        function chooseProblem(problemId) {
            const problemElement = document.getElementById(`problem-${problemId}`);
            if (problemElement.classList.contains('selected-problem')) {
                return;
            }
            problemElement.classList.add('selected-problem');

            const selectedProblemElement = document.createElement("li");
            selectedProblemElement.id = `selected-problem-${problemId}`;
            selectedProblemElement.classList.add('selected-problem');
            selectedProblemElement.addEventListener("click", function() { unchooseProblem(problemId); });
            selectedProblemElement.innerText = problemElement.innerText;

            document.getElementById("selected-problems").appendChild(selectedProblemElement);

            listOfProblems.push(problemId);
        }

        function unchooseProblem(problemId) {
            const problemElement = document.getElementById(`problem-${problemId}`);
            problemElement.classList.remove('selected-problem');

            const selectedProblemElement = document.getElementById(`selected-problem-${problemId}`);
            selectedProblemElement.remove();

            listOfProblems.splice(listOfProblems.indexOf(problemId), 1);
        }

        function postProblems() {
            const req = new XMLHttpRequest();
            const data = new FormData();

            data.append('problems', listOfProblems);

            req.open('POST', '/rooms', true);
            req.withCredentials = true;
            req.responseType = 'text';
            req.onload = function() {
                // @ROBUSTNESS this is a really dumb check
                if(this.reponseText.length == 6) {
                    window.location = `/room/${this.responseText}/admin`;
                } else {
                    // handle errors
                }
            }
            req.send(data);
        }

    </script>
{% endblock %}