{% extends "layout.html" %}

{% block title %}
    My Problems
{% endblock %}

{% block main %}
	<div class="centered">
		<a href="/problems/new" class="btn btn-primary">Create a new Problem</a><br>
		<h1 style="margin-top: 1em;">My Problems</h1>
	</div>
	{% for problem in user.problems %}
		<div class="row">
			<div class="col-md-6 centered">
				<h3>{{ problem.title }}</h3>
			</div>
			<div class="col-md-6 centered">
				<a href="/problems/{{problem.id}}" class="btn btn-standard">Edit</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}