{% extends "layout.html" %}

{% block title %}
    Create a new Problem
{% endblock %}

{% block main %}
	<div class="row">
		<p>Enter a title and a clear description of the problem to be solved.</p>
	</div>
	<div class="row">
		<form action="/problems" method="POST">
	    	<label for="title">Title</label>
	    	<input type="text" name="title" id="title">
	    	<label for="description">Description</label>
	    	<textarea name="description" id="description"></textarea>
	    	<button type="submit">Submit</button>
	    </form>
	</div>
{% endblock %}