{% extends "layout.html" %}

{% block title %}
    Edit Problem
{% endblock %}

{% block main %}
	<div class="row">
		<p>Edit problem title/description or add tests here.</p>
	</div>
	<div class="row">
		<form id="problem-form" action="/problems/{{problem.id}}" method="POST">
	    	<label for="title">Title</label><br>
	    	<input type="text" name="title" id="title" value="{{problem.title}}"><br>
	    	<label for="description">Description</label><br>
	    	<textarea style="width: 100%; max-width: 800px;" name="description" id="description">{{problem.description}}</textarea>
	    	<button type="submit">Submit</button>
	    </form>
	</div>
	<h2 style="margin-top: 1em;">Tests</h2>
	<div class="row">
		<div id="test-list">
		{% for test in problem.tests %}
			<div class="test-div">
				<form id="test-form-{{test.id}}">
					<label for="input">Input</label>
					<input type="text" name="input" value="{{test.input}}">
					<label for="output">Output</label>
					<input type="text" name="output" value="{{test.output}}">
					<button onclick="updateTest({{test.id}})">Update</button>
				</form>
			</div>
		{% endfor %}
		</div>
		<form id="test-form-add">
			<label for="input">Input</label>
			<input type="text" name="input" id="input">
			<label for="output">Output</label>
			<input type="text" name="output" id="output">
			<button id="add-test-button" onclick="addTest()">Add Test</button>
		</form>
	</div>
	<script>
		const problemId = {{problem.id}};

		document.querySelectorAll("form").forEach(f => {
			if(f.id != "problem-form"){
				f.addEventListener("submit", function(e) { e.preventDefault() });
			}
		});

		function appendTest(responseText) {
			console.log(responseText);
			const testObj = JSON.parse(responseText);

			const testDiv = document.createElement('div');
			testDiv.classList.add("test-div");
			testDiv.innerHTML = `
				<form id="test-form-${testObj.id}">
					<label for="input">Input</label>
					<input type="text" name="input" value="${testObj.input}">
					<label for="output">Output</label>
					<input type="text" name="output" value="${testObj.output}">
					<button onclick="updateTest(${testObj.id})">Update</button>
				</form>`;

			document.getElementById("test-list").appendChild(testDiv);
		}

		function clearAddTestForm() {
			document.getElementById("test-form-add").querySelectorAll("input").forEach(i => i.value = "");
		}

		function updateTest(testId) {
			const XHR = new XMLHttpRequest();
			const form = document.getElementById("test-form-" + testId);
			const fd = new FormData(form);
			XHR.open("POST", "/problems/" + problemId + "/tests/" + testId);
			XHR.withCredentials = true;
			XHR.responseType = 'text';
			XHR.send(fd);
		}

		function addTest() {
			const XHR = new XMLHttpRequest();
			const form = document.getElementById("test-form-add");
			const fd = new FormData(form);
			XHR.open("POST", "/problems/" + problemId + "/tests/new");
			XHR.withCredentials = true;
			XHR.responseType = 'application/json';
			XHR.onload = function() {
				appendTest(this.responseText);
				clearAddTestForm();
			}
			XHR.send(fd);
		}

	</script>
{% endblock %}