{% extends "layout.html" %}

{% block title %}
    Code Room
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg">
            <h1>{{problem.title}}</h1>
            <p>{{problem.description}}</p>
        </div>
    </div>

    <div class="row">
    	<pre id="editor">
    	</pre>
    </div>

    <div class="row">
		<div class="col-md-6" id="room-buttons">
			<button onclick="postCode()" class="btn btn-primary" type="submit">Submit</button>
			<a id="continue-button" href="/rooms/{{room.id}}/{{next_id}}" class="btn btn-success no-display">Continue</a>
		</div>
		<div class="col-md-6" id="room-results">

		</div>
	</div>

	<script src="/static/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
		const editor = ace.edit("editor");
		editor.setTheme("ace/theme/textmate");
		editor.session.setMode("ace/mode/python");
		editor.setValue(`{{code_prefill}}`, {{code_length}});
		
		function processResult(json) {
			const result = JSON.parse(json);
			console.log(result);
			
			const resElement = document.getElementById("room-results");
			if (result.full_success) {
				resElement.innerHTML = "<h3>All tests passed!</h3>";
				document.getElementById("continue-button").classList.remove("no-display");
			} else {
				resElement.innerHTML = `
					<h3>${result.success_count} tests passed.</h3>
					<p>First test<p>
					<p>${result.output[0][1] ? "<span class=\"success\">Successful</span>" : "Unsuccessful"}</p>
					<p>output: ${result.output[0][0]}</p>
					`;
			}
		}

    	function processResponse(run_id) {
    		const req = new XMLHttpRequest();
    		req.open('GET', '/run_results/' + run_id);
			req.responseType = 'application/json';
    		req.onload = function() {
    			if (this.responseText == "0") {
    				setTimeout(function() { processResponse(run_id);
    				}, 500);
    			} else {
    				processResult(this.responseText);
    			}
    		}
    		req.send();
    	}

    	function postCode() {
    		const req = new XMLHttpRequest();
    		const data = new FormData();
			
			data.append('code', editor.getValue());

    		req.open('POST', window.location, true);
    		req.withCredentials = true;
    		req.responseType = 'text';
    		req.onload = function() {
    			processResponse(this.responseText);
    		}
    		req.send(data);
    	};
    </script>
{% endblock %}