{% extends "layout.html" %}

{% block title %}
    Code Room
{% endblock %}

{% block main %}
	<pre id="editor">
	</pre>
    <form action="/room" id="form" method="POST">
        <input type="hidden" name="problem" value="1">
    	<button type="submit">Submit</button>
    </form>

	<script src="/static/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
		const editor = ace.edit("editor");
		editor.setTheme("ace/theme/textmate");
		editor.session.setMode("ace/mode/python");

		const form = document.getElementById("form");
		
		function processResult(json) {
			console.log(json);
		}

    	function processResponse(run_id) {
    		const req = new XMLHttpRequest();
    		req.open('GET', '/run_results/' + run_id);
    		req.onload = function() {
    			if (this.responseText == "0") {
    				setTimeout(function() { processResponse(run_id);
    				}, 500);
    			} else {
    				processResult(this.responseText)
    			}
    		}
    		req.send();
    	}

    	form.addEventListener("submit", function(e){
    		e.preventDefault();
    		
    		const req = new XMLHttpRequest();
    		const data = new FormData(form);
			
			data.append('code', editor.getValue());

    		req.open('POST', '/room', true);
    		req.withCredentials = true;
    		req.responseType = 'text';
    		req.onload = function() {
    			processResponse(this.responseText);
    		}
    		req.send(data)
    	});
    </script>
{% endblock %}